<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Teste MindSet</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous">
  </head>
  <body> <br>
    <div>
      <center>
        <h2><img src="../static/img/logo.png" alt="" title="mindset" longdesc="../static/img/logo.png"
            style="width: 200px;">
        </h2>
        <h2><br>
        </h2>
        <h2>Modelo Mental - O Manual de Instruções de sua mente</h2>
        <br>
        <br>
        <p>O Teste MindSet, em menos de 7 minutos, fornece um relatório com mais
          de 97% de acerto e mais de 50 informações correlacionadas e
          importantes sobre o seu modelo mental.<br>
          O que motiva você a agir; nível de adequação ao cargo; de estresse; de
          energia para executar as atividades; potencial de trabalho e muito
          mais. </p>
        <br>
        <p>Com este volume de informações, os gestores e profissionais de RH têm
          em mãos informações precisas para tomar decisões sobre contratação,
          mudança de área, adequação do perfil ao cargo, engenharia de equipes
          por comportamento, redução de turnover, delegação de tarefas mais
          assertivamente e maior satisfação no trabalho. </p>
        <br>
        <p>
          Preço especial de lançamento:
        </p>
        <p>Apenas R$19!
        </p>
      </center>
    </div>
    <div>
      <center> <a mp-mode="dftl" href="https://www.mercadopago.com/mlb/checkout/start?pref_id=87277671-ce76d613-6197-48d4-886c-6b0d7d13d809"
          name="MP-payButton"
          class="btn btn-secondary">Invista em você</a>
        <script type="text/javascript">
(function(){function $MPC_load(){window.$MPC_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = document.location.protocol+"//secure.mlstatic.com/mptools/render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPC_loaded = true;})();}window.$MPC_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null;})();
</script> </center></div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
crossorigin="anonymous"></script>
    <footer>
      <p class="text-right"><small>© Mindset, 2018. &nbsp; &nbsp; &nbsp;<br>
        </small></p>
    </footer>
    
  </body>
</html>
